/PatientsCards/bin
/PatientsCards/obj
/.vs
/Domain/obj
/Domain/bin
/DataAccess/obj
/DataAccess/bin
/Application/obj
/Application/bin
/UnitTests/obj
/UnitTests/bin
/SimpleStringExcercise/UnitTests/obj
/SimpleStringExcercise/UnitTests/bin
/SimpleStringExcercise/SimpleStringExcercise/bin
/SimpleStringExcercise/SimpleStringExcercise/obj
